{% extends "_layout.html.twig" %}

{% block title %}Vyacheslav Slinko's website{% endblock %}

{% block body_class %}MainPage{% endblock %}

{% block content %}
<h1 class="MainPage-Name">Vyacheslav Slinko</h1>
<h2 class="MainPage-Position">Front end Developer</h2>
<ul class="MainPage-LinksList">
  <li class="MainPage-LinksList-Item"><a class="MainPage-Link" href="/resume">Resume</a></li>
</ul>

<div class="MainPage-Contacts">
  <a class="MainPage-ContactsLink" href="mailto:vslinko@yahoo.com">vslinko@yahoo.com</a>
</div>
{% endblock %}
